/* Atom one light and dark */

html:not(.dark) .prose {
    --hljs-mono-3: #a0a1a7;
    --hljs-hue-1: #0184bb;
    --hljs-hue-2: #4078f2;
    --hljs-hue-3: #a626a4;
    --hljs-hue-4: #50a14f;
    --hljs-hue-5: #e45649;
    --hljs-hue-5-2: #c91243;
    --hljs-hue-6: #986801;
    --hljs-hue-6-2: #c18401;
    --hljs-bg-color: #fafafa;
    --hljs-color: #383a42;
    --hljs-cap-color: #f3f3f3;
}


html.dark .prose {
    --hljs-mono-3: #5c6370;
    --hljs-hue-1: #56b6c2;
    --hljs-hue-2: #61aeee;
    --hljs-hue-3: #c678dd;
    --hljs-hue-4: #98c379;
    --hljs-hue-5: #e06c75;
    --hljs-hue-5-2: #be5046;
    --hljs-hue-6: #d19a66;
    --hljs-hue-6-2: #e6c07b;
    --hljs-bg-color: #282c34;
    --hljs-color: #abb2bf;
    --hljs-cap-color: #1c1c1c;
}

.prose .code-block {
    @apply my-6 border-gray/20 border-1;
    border-radius: 6px;
    background-color: var(--hljs-cap-color);
}

.prose pre code.hljs {
    display: block;
    overflow-x: auto;
}

.prose .hljs {
    color: var(--hljs-color);
    background: var(--hljs-bg-color);
}

.prose .hljs-comment, .hljs-quote {
    color: var(--hljs-mono-3);
    font-style: italic
}

.prose .hljs-doctag, .hljs-formula, .hljs-keyword {
    color: var(--hljs-hue-3);
}

.prose .hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: var(--hljs-hue-5);
}

.prose .hljs-literal {
    color: var(--hljs-hue-1);
}

.prose .hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: var(--hljs-hue-4);
}

.prose .hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: var(--hljs-hue-6);
}

.prose .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
    color: var(--hljs-hue-2);
}

.prose .hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
    color: var(--hljs-hue-6-2);
}

.prose .hljs-emphasis {
    font-style: italic
}

.prose .hljs-strong {
    font-weight: 700
}

.prose .hljs-link {
    text-decoration: underline
}

/* code caption */

.prose .code-block figcaption {
    @apply select-none flex justify-between py-1.2 px-4 border-gray/20 border-b-1 items-center;
}

.prose .code-block figcaption div:first-child {
    @apply flex text-sm;
}

.prose .code-block figcaption .copy {
    @apply cursor-not-allowed i-ic-baseline-content-copy opacity-38;
}

.prose .code-block input[type='checkbox']{
    display: none;
}

.prose .code-block .lbl-toggle {
    @apply primary-clickable;
    font-family: monospace;
    font-size: 1.2rem;

    cursor: pointer;
}

.prose .code-block .lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.prose .code-block .collapsible-content {
    max-height: 0;
    overflow: hidden;
}

.prose .code-block .toggle:checked ~ .collapsible-content {
    max-height: 100%;
}

.prose .code-block .toggle:checked + figcaption>div>.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.prose .code-block table {
    @apply w-full;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* line number */

.prose .hljs-ln-n:before {
    content: attr(data-line-number)
}

.prose .hljs-ln-numbers {
    @apply select-none text-right text-gray/80 border-gray/20 border-r-1;
    vertical-align: top;
}

.prose .hljs-ln td:last-child {
    @apply px-2.4 w-full;
}

.prose .hljs .single-line-code {
    @apply px-2.4 w-full;
    display: inline-block;
}

.prose .hljs-ln {
    border-collapse: collapse;
}

.prose .hljs-ln td {
    @apply py-0 px-1.2;
}

.prose .hljs-ln td:first-child {
    background-color: var(--hljs-cap-color);
}

