@import './markdown.css';
@import './highlight.css';
@import './pseudocode.css';
@import './katex.css';

html {
  @apply scroll-smooth;
}

body {
  font-family: bitter,'noto serif sc','source han serif sc',pingfang sc,hiragino sans gb,wenquanyi micro hei,sans-serif;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
