@import './markdown.css';

body {
  font-family: bitter,'noto serif sc','source han serif sc',pingfang sc,hiragino sans gb,wenquanyi micro hei,sans-serif;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
