@import "tailwindcss" important;
@custom-variant dark (&:where(.dark, .dark *));

@utility q-trans {
  @apply transition-all duration-300 ease-in-out;
}

@utility primary-clickable {
  @apply q-trans hover:text-green-300;
}

@plugin "@iconify/tailwind4";
@import "./markdown.css";
@import "./highlight.css";
@import "./pseudocode.css";
@import "./katex.css";

@theme {
  --color-foreground-light: rgba(24, 160, 88, 0.1);
  --color-foregroun-dark: rgba(99, 226, 183, 0.15);
  --color-strong-light: #363636;
  --color-strong-dark: #f3f3f3;
  --color-link-hover: #7fe7c4;
}

html {
  @apply scroll-smooth;
}

body {
  font-family:
    bitter,
    "noto serif sc",
    "source han serif sc",
    pingfang sc,
    hiragino sans gb,
    wenquanyi micro hei,
    sans-serif;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
