.prose :not(pre) > code {
  border-radius: .3em;
  background: var(--inlineCode-bg)!important;
  color: var(--inlineCode-text)!important;
  padding: .15em .2em .05em;
  white-space: normal;
}

.prose code::after,
.prose code::before {
  content: "";
}

html:not(.dark) .prose {
  --inlineCode-bg: rgba(255,229,100,0.2);
  --inlineCode-text: #1a1a1a;
}

html.dark .prose {
  --inlineCode-bg: rgba(115,124,153,0.2);
  --inlineCode-text: #ffee93;
}
